# Warehouse
snowflake-connector-python==3.10.0
snowflake-sqlalchemy==1.6.1

# dbt
dbt-core==1.8.0
dbt-snowflake==1.8.0

# Scraping
scrapy==2.11.1
playwright==1.44.0

# API / Data
requests==2.31.0
pandas==2.2.2
python-dotenv==1.0.1

# Utils
loguru==0.7.2
pydantic==2.7.1

#yfinance
yfinance==0.2.40